@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.footer {
  background-image: url("https://svgshare.com/i/Rpu.svg");
}
.carousel .slide {
  background-color: transparent !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #312b2b;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #312b2b;
}
.project-link::after {
  content: "Details";
  color: white;
  position: absolute;
  left: -100%;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #a1b9b494;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.project-link:hover::after {
  width: 100%;
  left: 0;
}
.project-link img {
  transition: all 0.4s;
}
.project-link:hover img {
  transform: scale(1.1);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
